$gray: #333333;
$yellow: #F8D060;
$blue: #3DC3DA;
$white: #ffffff;

.project__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 40px;

  .card:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .card:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  .card:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .card:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .card:nth-child(5) {
    grid-area: 3 / 1 / 4 / 2;
  }
  .card:nth-child(6) {
    grid-area: 3 / 2 / 4 / 3;
  }
}

