$blue: #3DC3DA;
$yellow: #F8D060;

$rad: 35px;

a {
  margin-left: 10px;
}

.button__bc {
  background-color: rgba($blue, 0.9);
  border-radius: 30px;
  padding: 5px;
  width: $rad;
  height: $rad;
  overflow: hidden;

  &:hover {
    background-color: rgba($blue, 0.4);
  }
}


.button__image {
  width: $rad;
  height: $rad;
}
