$gray: #333333;
$yellow: #F8D060;
$blue: #3DC3DA;
$white: #ffffff;


.tags__wrapper {
  display: inline-block;
  border-radius: 15px;
  font-size: 17px;
  padding: 3px 8px;
  &:not(:nth-child(1)){
    margin-left: 10px;
  }
}

.yellow {
  background-color: rgba($yellow,0.7);
  color: $gray;
}

.blue {
  background-color: rgba($blue, 0.7);
  color: $white;
}

@media only screen and (max-width: 1250px){
  .tags__wrapper {
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px){
  .tags__wrapper {
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px){
  .tags__wrapper {
    font-size: 11px;
    padding: 2px 6px;
    &:not(:nth-child(1)){
      margin-left: 5px;
    }
  }
}