$blue: #3DC3DA;
$white: #ffffff;

$big: 120px;
$medium: 60px;
$small: 40px;

.header{
  &-big {
    color: $white;
    font-size: $big;
    height: $big;
    margin-top: 200px;
    margin-right: auto;
    display: inline;
  }
  &-medium {
    color: $white;
    font-size: $medium;
    height: $medium;
    display: inline;
  }
  &-small {
    margin-top: 10px;
    font-size: $small;
    height: $small;
    color: $blue;
    display: inline;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 1250px){
  $small: 30px;
  .header {
    &-small {
      font-size: $small;
      height: $small;
    }
  }
}

@media only screen and (max-width: 500px) {
  $big: 70px;
  $medium: 35px;
  $small: 25px;
  .header{
    &-big {
      color: $white;
      font-size: $big;
      height: $big;
      margin-top: 200px;
      margin-right: auto;
      display: inline;
    }
    &-medium {
      color: $white;
      font-size: $medium;
      height: $medium;
      display: inline;
    }
    &-small {
      margin-top: 10px;
      font-size: $small;
      height: $small;
      color: $blue;
      display: inline;
      white-space: nowrap;
    }
  }
}