$gray: #333333;
$yellow: #F8D060;
$blue: #3DC3DA;
$white: #ffffff;

.wrapper {
  display: grid;
  grid-template-columns: auto, auto, auto;
  margin-left: 100px;
}

.svg__name {
  width: 950px;
  height: 1px;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}
.description {
  display: grid;
  grid-template-columns: 950px auto;
}

.svg__line {
  width: 1px;
  height: 550px;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}
.projects {

}
.projects__header {
  display: grid;
  grid-template-columns: 350px 608px auto;
  margin-left: -8px;
}

.svg__project-horizontal {
  margin-top: 70px;
  width: 608px;
  height: 1px;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}
.svg__project-vertical {
  width: 1px;
  height: 70px;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}

.project__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50px auto
}

.svg__line__auto {
  width: 1px;
  height: 1000px;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}

@media only screen and (max-width: 600px) {
  .svg__line__auto {
    height: 1600px;
  }
}