$gray: #333333;
$yellow: #F8D060;
$blue: #3DC3DA;
$white: #ffffff;

.wrapper {
  display: grid;
  grid-template-columns: auto, auto, auto, auto;
  margin-left: 100px;
}

.description {
  display: grid;
  grid-template-columns: 900px auto;
}

.projects__header {
  display: grid;
  grid-template-columns: 220px 683px auto;
  margin-left: -3px;
}

.project__list {
  display: grid;
  grid-template-columns: 50px auto
}

.svg__line__auto {
  margin-top: 20px;
  width: 1px;
  height: 100%;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}

.svg__name {
  width: 901px;
  height: 1px;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}
.svg__line {
  margin-right: 20px;
  width: 1px;
  height: 401px;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}
.svg__project-horizontal {
  margin-top: 45px;
  width: 684px;
  height: 2px;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}
.svg__project-vertical {
  width: 1px;
  height: 45px;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}
.svg__end {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 4.8%;
  height: 2px;
  .line {
    stroke: $yellow;
    stroke-width: 2;
  }
}

.footer {
  color: rgba($white, 0.2);
  text-align: center;
}

@media only screen and (min-width: 1500px) {
  .wrapper {
    margin-left: 50px;
  }
  .svg__name{
    width: 1318px;
  }
  .description {
    grid-template-columns: 1317px auto;
  }

  .svg__project-horizontal{
    width: 1101px;
  }

  .projects__header {
    grid-template-columns: 220px 1100px auto;
  }
}
@media only screen and (max-width: 1050px) {
  .wrapper {
    margin-left: 50px;
  }
  .svg__name{
    width: 701px;
  }
  .description {
    grid-template-columns: 700px auto;
  }

  .svg__project-horizontal{
    width: 484px;
  }

  .projects__header {
    grid-template-columns: 220px 483px auto;
  }
}

  @media only screen and (max-width: 800px) {
    .wrapper {
      margin-left: 50px;
    }
    .svg__name{
      width: 601px;
      margin-right: 10px;
    }
    .svg__line {
    }
    .description {
      grid-template-columns: 600px auto;
    }

    .svg__project-horizontal{
      width: 384px;
    }
    .projects__header {
      grid-template-columns: 220px 383px auto;
    }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    margin-left: 10px;
  }
  .svg__name{
    width: 347px;
    margin-right: 10px;
  }
  .description {
    grid-template-columns: 346px auto;
  }
  .svg__line {
    height: 401px;
  }

  .svg__project-horizontal{
    width: 220px;
    margin-top: 25px;
  }
  .svg__project-vertical {
    height: 25px;
  }
  .projects__header {
    grid-template-columns: 130px 219px auto;
  }
  .project__list {
    display: grid;
    grid-template-columns: 20px auto
  }
}