
$gray: #333333;
$yellow: #F8D060;
$blue: #3DC3DA;
$white: #ffffff;

$mainFont: Calibri;

body {
  margin: 0;
  background-color: $gray;
  font-family: $mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
